* {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    color: white;
    background-color: #800020;
    align-items: center;
    position: fixed;
}

a {
    text-decoration: none;
    color: white;
}

.navbar a {
    margin-left: 60px;
    font-size: larger;
}

.navbar a:hover {
    text-decoration: underline;
}

header span {
    font-weight: bold;
    font-size: larger;
    padding: 10px;
}

.home {
    color: black;
    display: flex;
    background-color:#ffffff;
    height: 770px;
    align-items: center;
}

.homeimg img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 170px;
}

.homecontent {
    width: 750px;
    margin-left: 60px;
    margin-top: 30px;
    height: 200px;
    font-size: larger;
}

.homecontent h3 {
    margin: 5px 0px;
}

.homecontent h2 {
    margin: 5px 0px;
}

.font {
    color:  #800020;
}

.homecontent p {
    font-size: large;
    margin-top: 10px;
}

.about {
    height: 700px;
    border: 1px solid white;
    margin-top: 20px;
}

.aboutcontent1 {
    margin-left: 300px;
    width: 850px;
    margin-top: 25px;
    padding: 20px;
    height: 150px;
}

.aboutcontent1 p {
    margin-top: 15px;
    font-size: 18px;
}

.heading {
    margin-top: 45px;
    font-size: 30px;
}

.aboutcontent2 {
    display: flex;
    background-color: #D2B48C;
    margin-top: 40px;
    height: 370px;
    align-items: center;
    margin-right: 35px;
    margin-left: 35px;
    border-radius: 5px;
}

.firstpart {
    width: 600px;
    padding-bottom: 70px;
    padding-top: 50px;
    padding-right: 70px;
    padding-left: 50px;
    font-size: 26px;
    margin-left: 80px;
    margin-right: 30px;
    height: 200px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px;
}

.secondpart {
    height: 350px;
    margin-right: 40px;
    width: 1500px;
    font-size: large;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 20px;
    margin-top: 40px;
}

.secondpart p {
    margin: 20px;
}

.myskills {
    height: 700px;
    border: 1px solid white;
}

.skillstitle {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.skilltitle {
    font-size: 29px;
    cursor: pointer;
}

.skillcontainer1 {
    height: 240px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.skillcontainer2 {
    height: 240px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item {
    margin: 10px;
    padding: 3px;
    width: 350px;
    height: 200px;
    display: flex;
    margin-top: 15px;
}

.skillbox p {
    margin-left: 10px;
    margin-top: 5px;
}

.icon {
    width: 80px;
    margin-left: 140px;
    margin-top: 5px;
    height: 80px;
    border-radius: 30px;
}

.skillheading {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

#item4 {
    margin-top: 30px;
    margin-left: 120px;
}

#item5 {
    margin-right: 120px;
    margin-top: 30px;
}

.project {
    height: 700px;
    border: 1px solid white;
}

.myprojects {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.myproject {
    font-size: 32px;
}

.projectcontainer {
    height: 480px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projectbox {
    background-color: #D2B48C;
    width: 350px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projecttitle {
    margin-top: 40px;
}

.projectcontent {
    margin-top: 40px;
    padding: 20px;
}

.lastpage {
    border: 1px solid white;
    height: 639px;
}
.mycontacts {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.mycontact {
    font-size: 30px;
}
.contactpage {
    margin-left: 50px;
    margin-right: 50px;
    height: 220px;
    margin-top: 30px;
    display: flex;
}    
.contactform1 {
    width: 400px;
    margin-left: 200px;
    height: 180px;
}
.form {
    margin-bottom: 20px;
}
input {
    width: 97%;
    height: 30px;
    padding: 4px 5px;
}
.contactform2 {
    margin-left: 20px;
    width: 450px;
    height: 180px;
}
textarea {
    width: 100%;
    height: 165px;
}
button {
    background-color: #800020;
    color: white;
    cursor: pointer;
    border: none;
    margin-left: 360px;
    margin-top: 10px;
    width: 100px;
    padding: 3px;
    height: 30px;
}
.footer {
    margin-top: 100px;
    background-color:#D2B48C ;
    margin-top: 100px;
    height: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socialicons{
    font-size: 35px;
    margin-top: 40px;
}
.socialicons a {
    margin-left: 10px;
    margin-right: 10px;
}

.copyright {
    margin-top: 20px;
    font-size: 20px;
}